@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="../../../css/home.css" rel="stylesheet" />
}


<main>
    <section class="container-corte">
        <h1 class="melhor-barbearia">A melhor Barbearia De Parnamirim!</h1>
        <p class="texto-melhor-barbearia">Apenas aqui, você encontra um lugar aconchegante, com ótimos<br> profissionais e perfeito atendimento para cortar o cabelo<br> da maneria que você quiser! </p>
    </section>
    <section class="container-sobre">
        <h1 class="sobre"><strong>Sobre</strong></h1>
        <p class="texto-sobre">
            A Barbearia do Matheus foi fundada em <br>2021 pelo próprio, com o objetivo de trazer<br> um novo conceito de barbearia para o
            bairro <br>de Cajupiranga .<br>
            Oferecemos uma estrutura aconchegante, <br>cortes variados, produtos de ótima qualidade <br>e café para os clientes.
        </p>
    </section>
    <section class="container-servico">
        <h1 class="servico">Serviços</h1>
        <ol class="servico-lista">
            <li class="lista-item-servico"><img src="/assets/homem.png" alt=""><p>Taper Fade</p></li>
            <li class="lista-item-servico"><img src="/assets/corte social infantil 1.png" alt=""><p>Social Infantil</p></li>
            <li class="lista-item-servico"><img src="/assets/topetinho.png" alt=""><p>Degrade na Zero</p></li>
            <li class="lista-item-servico"><img src="/assets/adolescente.png" alt=""><p>Degrade Navalhado</p></li>
        </ol>
    </section>
    <section class="container-contato">
        <h1 class="contato">Contato</h1>
        <div class="conteudo-content">
            <img class='conteudo-img' src="/assets/localização do mateus.png" alt="">
            <div class="texto-conteudo">
                <p>Nos contate pelas redes sociais.</p>
                <p>Instagram:</p>
                <a href="https://www.instagram.com/_barbeariadomatheus/ "><p>https://www.instagram.com/_barbeariadomatheus/</p></a>
                <p>WhatsApp:</p>
                <a href="wa.me/message/JSOCTK6FGN6JO1    "><p>wa.me/message/JSOCTK6FGN6JO1   </p></a>
                <p>Telefone:</p>
                <p>2030-8503</p></a>
            </div>
        </div>
    </section>
</main>
