@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="../../../css/services.css" rel="stylesheet" />
}

<main>


    <div class="container-servicos">


        <div class="card">
            <div class="corte">
                <img src="../assets/foto.png" alt="" width="15%" />
                <div>

                    <div class="nome-preco">
                        <h4>DEGRADÊ NA ZERO COM FREESTYLE</h4>
                        <h4>R$0,00</h4>
                    </div>

                    <button class="agendar">AGENDAR</button>

                </div>
            </div>
        </div>

        <div class="card">
          <div class="corte">
            <img src="../assets/foto-0.png" alt="" width="10%" />
            <div>
              <div class="nome-preco">
                <h4>DEGRADÊ NA ZERO COM FREESTYLE</h4>
                <h4>R$0,00</h4>
              </div>
              <div class="btn-agendar">
                <button class="agendar">AGENDAR</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="corte">
            <img src="../assets/foto-1.png" alt="" width="10%" />
            <div>
              <div class="nome-preco">
                <h4>DEGRADÊ NA ZERO COM FREESTYLE</h4>
                <h4>R$0,00</h4>
              </div>
              <div class="btn-agendar">
                <button class="agendar">AGENDAR</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="corte">
            <img src="../assets/foto-2.png" alt="" width="10%" />
            <div>
              <div class="nome-preco">
                <h4>DEGRADÊ NA ZERO COM FREESTYLE</h4>
                <h4>R$0,00</h4>
              </div>
              <div class="btn-agendar">
                <button class="agendar">AGENDAR</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="corte">
            <img src="../assets/foto-3.png" alt="" width="10%" />
            <div>
              <div class="nome-preco">
                <h4>DEGRADÊ NA ZERO COM FREESTYLE</h4>
                <h4>R$0,00</h4>
              </div>
              <div class="btn-agendar">
                <button class="agendar">AGENDAR</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="corte">
            <img src="../assets/foto-4.png" alt="" width="10%" />
            <div>
              <div class="nome-preco">
                <h4>DEGRADÊ NA ZERO COM FREESTYLE</h4>
                <h4>R$0,00</h4>
              </div>
              <div class="btn-agendar">
                <button class="agendar">AGENDAR</button>
              </div>
            </div>
          </div>
        </div>

    </div>
    </div>


</main>